@model MessageListDTO
@{
    Layout = Html.Config().Layout;
}
<table class="table">
    <thead>
        <tr>
            @Html.HeaderCell(d => d.Name)
            @Html.HeaderCell(d => d.Title)
            @Html.HeaderCell(d => d.CreatedOn)
            @Html.HeaderCell(d => d.ResponseOn)
            @Html.HeaderCell(d => d.StatusName)
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let model of list" [selectable]="model" [select-service]="Selection">
            @Html.TextCell(d => d.Name)
            @Html.TextCell(d => d.Title)
            @Html.TextCell(d => d.CreatedOn,pipe:"date : 'shortDate'")
            @Html.TextCell(d => d.ResponseOn, pipe: "date : 'shortDate'")
            @Html.TextCell(d => d.StatusName,pipe:"translate")
            <td>
                @Html.ListModifiers()
            </td>
        </tr>
    </tbody>
</table>