@model User

@{
    Layout = Html.Config().Layout;

    Html.Config().Controls["cell__user__role__name"] = new ControlDTO { Accessibilty = 2 };
    Html.Config().Controls["cell__users__moving"] = new ControlDTO { Accessibilty = 2 };
    Html.Config().Controls["user__name"] = new ControlDTO { Accessibilty = 2 };
    Html.Config().Controls["user__name"] = new ControlDTO
    {
        Accessibilty = 2,
        Collection = new CollectionDTO { Name = "items", Id = 5 }
    };
    Html.Config().Controls["cell__fofo"] = new ControlDTO { Accessibilty = 2 };
    Html.Config().Controls["test_id"] = new ControlDTO { Accessibilty = 1 };
}
<div>

    @Html.HeaderCell(d => d.Role.Name)
    @Html.HeaderCell("user__name", sorting: false)

    @Html.DragContentCell("users")
    @Html.DragHeaderCell("users")
    @Html.SelectControlGroup(d => d.Name, Lister.Make("items"), "name")
    @Html.SelectModalButton("htext", "func()", "model.name", url: "'/url/ddd/'")

    @Html.CheckBoxCell("fofo", "i", "Items", "selected", changeFunction: "OnChange(model)", listItem: null)

    @if (Html.StartContainer("div", "test_id", new { @class = "col-md-12", calc__ngClass = "shit" }))
    {
        <span></span>
        @Html.CloseContainer("div")
    }
</div>