@*ID:2000143886000*@

@model NavigationPageListDTO

@{
    Layout = Html.Config().Layout;
    Html.AddModal("select_pages_modal");
}

<table class="table table-striped">
    <thead>
        <tr>
            @Html.HeaderCell(d => d.Url, sorting: false)
            @Html.HeaderCell(d => d.DisplayOrder, sorting: false)
            <th>Order</th>
            <th style="width:150px"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let model of list;let i=index" [hidden]="model.state=='Removed'">
            @Html.TextCell(d => d.Url)
            @Html.TextCell(d => d.DisplayOrder)
            <td style="width:150px">
                <div class="buttonGra-group">
                    @Html.Button(null, "ApplyOrder(model.id,list[i-1]?.id)", null, BtnClass.Primary, "fa fa-arrow-up", classes: "buttonGra-sm", attr: new { calc__disabled = "i==0" })
                    @Html.Button(null, "ApplyOrder(model.id,list[i+1]?.id)", null, BtnClass.Default, "fa fa-arrow-down", classes: "buttonGra-sm", attr: new { calc__disabled = "i==list.length-1" })
                </div>
            </td>
            <td>
                @Html.ListModifiers(deleteFunction: "delete(model.id)")
            </td>
        </tr>
    </tbody>
</table>