@model SelectNgInput

<ng-select [items]="@Model.ListName"
           name="@Html.Raw(Model.FieldName)"
           bindLabel="@Model.Display"
           @Html.Raw(Model.Value != null ? "bindValue=\"id\"" : "")
           [(ngModel)]="@Model.NgModelName@(".")@Model.MemberName"
           @Html.Raw(Model.Attributes)></ng-select>
@if (Model.GroupName != null)
{
    <p *ngIf="!@(Model.GroupName + ".Write")">{{@(Model.GroupName + ".Value")}}</p>
}