@model SelectNgInput
@*<ng-select [items]="@Model.ListName"
               name="@Html.Raw(Model.FieldName)"
               bindLabel="@Model.Display"
               @Html.Raw(Model.Value != null ? "bindValue=\"id\"" : "")
               [(ngModel)]="@Model.NgModelName@(".")@Model.MemberName"
               @Html.Raw(Model.Attributes)
               [multiple]="@Model.Multi"></ng-select>
    @if (Model.GroupName != null)
    {
        <p *ngIf="!@(Model.GroupName + ".Write")">{{@(Model.GroupName + ".Value")}}</p>
    }*@



<ng-select name="@Html.Raw(Model.FieldName)" bindLabel="@Model.Display"  @Html.Raw(Model.Value != null ? "bindValue=\"id\"" : "")
           @Html.Raw(Model.Attributes) [multiple]="@Model.Multi.ToString().ToLower()"
           [(ngModel)]="@Model.NgModelName@(".")@Model.MemberName">
    <ng-option *ngFor="let op of @Model.ListName" [value]="op.name">{{op.name}}</ng-option>
</ng-select>
@if (Model.GroupName != null)
{
    <p *ngIf="!@(Model.GroupName + ".Write")">{{@(Model.GroupName + ".Value")}}</p>
}