@model NgInput

<div class="row">
    <div class="col-md-9">
        <input class="form-control" [owlDateTime]="@Html.Raw(Model.FieldName+"_el")"
               name="@Html.Raw(Model.FieldName)" [(ngModel)]="@Model.NgModelName@(".")@Model.MemberName" fix-date-time
               @Html.Raw(Model.Attributes) [owlDateTimeTrigger]="@Html.Raw(Model.FieldName+"_el")" placeholder="Date Time">

        <owl-date-time @Html.Raw("#" + Model.FieldName + "_el")></owl-date-time>

        @if (Model.GroupName != null)
        {
            <p *ngIf="!@(Model.GroupName+".Write")" class="date-display">{{@(Model.NgModelName + "." + Model.MemberName) | date : 'yyyy-MM-dd hh:mm a'}}</p>
        }

    </div>
    <div class="col-md-3">
        <span [owlDateTimeTrigger]="@Html.Raw( Model.FieldName + "_el")"><i class="fa fa-calendar"></i></span>
    </div>
</div>