@model RoleResource
@{
    Html.AddSource(Lister.Make("domains"));
}

<label class="section-header">@Html.Word("Privileges")</label>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li *ngFor="let res of Lookups.domains" [ngClass]="res.Selected?'active':null">
                <a (click)="Priv.Select(res)">{{ 'Words.'+res.name | translate }}</a>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    @using (Html.NgForm("Form", "r"))
    {
        <div *ngFor="let dom of Lookups.domains">
            <div *ngIf="dom.Selected" class="col-md-12">
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th style="width:300px;">@Html.Word("Resource")</th>
                            @Html.HeaderCell(null, "available")
                            @Html.HeaderCell(null, "canViewDetails")
                            @Html.HeaderCell(null, "canUpdate")
                            @Html.HeaderCell(null, "canInsert")
                            @Html.HeaderCell(null, "canDelete")

                            <th>@Html.Word("Other")</th>
                            @Html.HeaderCell(d => d.CollectionId)
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let r of dom.resources;let i = index" (change)="Priv.ItemChanged(r)">
                            <td>{{ 'Words.'+ r.name | translate }}</td>
                            @Html.CheckBoxCell("available", "i", null, "available", listItem: null)
                            @Html.CheckBoxCell("canViewDetails", "i", null, "Tag.canViewDetails", inputAttr: new { calc__disabled = "!r.available" },listItem:null)
                            @Html.CheckBoxCell("canUpdate", "i", null, "Tag.canUpdate", inputAttr: new { calc__disabled = "!r.available" }, listItem: null)
                            @Html.CheckBoxCell("canInsert", "i", null, "Tag.canInsert", inputAttr: new { calc__disabled = "!r.available" }, listItem: null)
                            @Html.CheckBoxCell("canDelete", "i", null, "Tag.canDelete", inputAttr: new { calc__disabled = "!r.available" }, listItem: null)

                            <td>
                                <div class="form-group" *ngFor="let ac of r.actions">
                                    <div class="row col-md-12">
                                        <div class="col-md-2">
                                            <label class="chiller_cb">
                                                <input type="checkbox" [id]="'ac-'+ac.id" [(ngModel)]="ac.Tag.selected" (change)="Priv.ActionChanged(ac.Tag)" />
                                                <span></span>
                                            </label>
                                        </div>
                                        <label class="col-md-10" [for]="'ac-'+ac.id">{{ 'Words.'+ac.name | translate }}</label>
                                    </div>
                                </div>
                            </td>
                            @Html.SelectCell(d => d.CollectionId, Lister.Make("r.collections", false), "name", "id",rowIndex:"i", required: true)
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }

</div>