@model PageHeaderModel
<div [ngClass]="IsEmbedded?'panel panel-default head':'row wrapper border-bottom white-bg page-heading home'" *ngIf="!HideHeader">
    <div class="col-sm-5" *ngIf="!IsEmbedded">
        <h2>@Model.Title<span *ngIf="HeaderExtra"> - {{HeaderExtra}}</span></h2>
        <ol class="breadcrumb">
            <li>
                <a routerLink="'/'">@Html.Word("Main")</a>
            </li>
            @foreach (var item in Model.BreadCrums)
            {
                <li>
                    <a routerLink="@item.Value">@Html.Page(item.Key)</a>
                </li>
            }
            <li>
                @Model.Title
            </li>
        </ol>
    </div>

    <div class="col-sm-7" *ngIf="!IsEmbedded">
        <br />
        <div class="row">
            <div class="col-md-12 text-last">
                @if (Model.ToolsSection != null)
                {
                    @Model.ToolsSection
                }

                @if (Model.IsListPage)
                {
                    @Model.AddButton
                }

                @Html.Button(null, "Refresh()", null, BtnClass.Info, "fa fa-redo")
            </div>
        </div>
    </div>
    <div class="panel-heading blueColor" *ngIf="IsEmbedded">
        <div class="row">
            <div class="col-md-8">
                @Model.Title<span *ngIf="HeaderExtra"> - {{HeaderExtra}}</span>
            </div>
            <div class="col-md-4">
                @if (Model.EmbeddedAddButton != null)
                {
                    @Model.EmbeddedAddButton
                }
            </div>
        </div>
    </div>
</div>