@model HomeSlide
@{
    Layout = Html.Config().Layout;
    Html.SetNgModel("item");
    //Html.HeaderModel().AddButton = Html.Button(content: Html.Word("AddEntity", Html.Word(Html.GetModelTypeName()).ToString()), btn: BtnClass.Success, function: "StartAdd()");
    Html.UseThemeConfig(d => d.SortingInTables = false);
}
<table class="table">
    <thead>
        <tr>
            <th></th>
            @Html.HeaderCell(d => d.Image)
            @Html.HeaderCell(d => d.Title)
            @Html.HeaderCell(d => d.IsActive)
            <th></th>
        </tr>
    </thead>
    <tbody class="sortable">

        <tr *ngFor="let item of list" [id]="item.id">

            <td>
                <div class="d-flex align-items-center">
                    <i class="fa fa-bars sort-icon"></i>
                </div>
            </td>
            <td>
                <img [src]="'/'+item.image" class="banner_icon" alt="">
            </td>
            @Html.TextCell(d => d.Title)
            @Html.SelectCell(d => d.IsActive, Lister.Make("activation", false), "name", "id", inputAttr: new { evnt__change = "isActive_Change(item)" })
            <td>
                @Html.ListModifiers()
            </td>
        </tr>
    </tbody>
</table>


